#main-container #pagetitle.personal-brand{
	width:100%;
	padding:0px;
}
#main-container #pagetitle.get-started{
	width:100%;
	padding:0px;
}

#pagetitle.personal-brand .hero-wrap{
	background:url(../img/pb13-photoheaders-gavin-b.jpg) no-repeat;
	color:#fff;
}
#pagetitle.get-started .hero-wrap{
	background:url(../img/pb13-photoheaders-helen-b.jpg) no-repeat;
	color:#fff;
}
#main-container #pagetitle .hero-wrap p{
	color:#fff;	
}
#main-container #pagetitle .hero-wrap h2{
	color:#fff;	
}
#personal-brand-main-hero{
	padding: 25px 20px 20px 20px;
	min-height: 230px;
}
#main-container #pagetitle #personal-brand-main-hero p{
	width:500px;
}
#main-container .block{
	float: left;
	width: 237px;
}
#main-container .block.top-left{
	margin: 0px 5px 10px 0px;
}
#main-container .block.top-right{
	margin: 0px 0px 10px 5px;
}
#main-container .block.bot-left{
	margin: 0px 5px 0px 0px;
}
#main-container .block.bot-right{
	margin: 0px 0px 0px 5px;
}

.block p{
	padding: 0 15px !important;
}
.block span{
	color:#fff;
	font-weight: 100;
}
.block-content p.sub-head{
	padding-top: 15px !important;
	font-size: 17px !important;
}
.block-header{
	font-size: 60px;
	float: left;
	height: 120px;
	padding:0 15px;
}
span.learn-more{
	font-weight: 100;
	font-size: 14px;
}
#main-container .video-inner-cont p{
	font-size: 18px;
	font-family: georgia, serif;
}
#center #main-container .videos-grid{
	height:100%;
}

#center #main-container #side-content #online-calc .heading h3{
	background: url(../img/icon_sprite.png) no-repeat 0 -25px;
	height: 25px;
}
#center #main-container #side-content #perssonal-brand-workbook .heading h3{
	background: url(../img/icon_sprite.png) no-repeat 0 0px;
	height: 20px;
	margin: 0 0 30px 0;
}
#col-2-vid-a.col, #col-2-vid-b.col{
	width:480px;
}
#center #main-container #col-2-vid-a a.btn-play, #center #main-container #col-2-vid-b a.btn-play{
	background: url('../img/play_sprite.png') 50% 0px no-repeat;
}

#center #main-container #col-2-vid-a a:hover.btn-play, #center #main-container #col-2-vid-b a:hover.btn-play {
  	background: url('../img/play_sprite.png') 50% -360px no-repeat;
}
.icw-col{
	 float: left;
	 width:50%;
}
.heading-video h2{
	font-size: 40px;
	line-height: 38px;
	margin: 0 0 40px;
	padding: 30px 20px;
}
#three-vid{
	margin:-22px 0 0 0!important;
}
.three-video-wrap{
	clear: left;
	padding: 10px 0 0 0;
}
h3.online-id{
	font-size: 18px;
	font-family: georgia, serif !important;
	font-style: italic !important;
	margin: 10px 0 0 0
}
p.online-id{
	padding: 0px !important;
}